<div class='min-h-screen flex items-center text-center'>
  <div class='container'>
    <h1 class="mb-6 title-1">
      500
    </h1>
    <h2 class='mb-6 title-4'>
      Oops, server error
    </h2>

    {{> 'LinkNext' label='Index' href=Routes.INDEX }}
  </div>
</div>