<header
  id='header'
  class='pt-10 sm:pt-20'
>
  <div class='container'>
    <div class='grid gap-8 sm:grid-cols-2'>
      <div>
        <a href='{{ routePath Routes.INDEX }}' class='group title-4'>
          {{{ meta.siteTitle }}}
        </a>
      </div>

      {{#if settings.menu}}
        <div class='flex sm:justify-end'>
          <nav class='flex flex-col space-y-2 items-start sm:justify-end'>
            {{#each settings.menu}}
              {{>
                'common/Link'
                reference=reference
                label=label
                active=(includes reference.cached_url @root.slug)
              }}
            {{/each}}
          </nav>
        </div>
      {{/if}}
    </div>
  </div>

  {{#if @partial-block}}
    {{> @partial-block }}
  {{/if}}
</header>