<main class="grid gap-10 py-10 sm:gap-20 sm:py-20">
  {{#if (ne story.path Routes.INDEX)}}
    <header>
      <div class="container">
        <h1 class='title-1'>
          {{ story.name }}
        </h1>
      </div>
    </header>
  {{/if}}

  {{#each story.content.body}}
    {{#> (concat 'bloks/' (lookup . 'component'))}}
      {{#if @root.isDev}}
        {{> 'Debug' title=(concat 'Blok «<i>' component '</i>» not found') code=this }}
      {{/if}}
    {{/undefined}}
  {{/each}}
</main>

{{#section 'schema'}}
  <script type='application/ld+json'>
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{{story.content.meta.title}}}",
      "description": "{{{story.content.meta.description}}}",
      "publisher": {
        "@type": "Person",
        "name": "{{{@root.meta.authorName}}}"
      }
    }
  </script>
{{/section}}

{{#section 'script'}}
  <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
{{/section}}
